@import "../../styles/variables";

.button {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 3rem;
  border: 2px solid;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: $transition;
}

.primary {
  color: $btnPrimary;
  border-color: $btnPrimary;
  &:hover {
    background-color: $btnSecondary;
    border-color: $btnSecondary;
    color: white;
  }
}
.secondary {
  background-color: $btnSecondary;
  border-color: $btnSecondary;
  color: white;
  &:hover {
    background-color: white;

    color: $btnPrimary;
    border-color: $btnPrimary;
  }
}
