@import "../../styles/variables";
.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  max-width: 25rem;
  width: 100%;
  gap: 1rem;
  background-color: $cardBg;
  &__category {
    width: 100%;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
  }
  &__imageWrapper {
    display: flex;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
  }
  &__ratingBar {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__rating {
    color: #a2a6b0;
    font-size: 1.2rem;
  }
  &__image {
    width: unset;
    max-width: 15rem;
    max-height: 15rem;
    margin: 0 auto;
  }
  &__title {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
  }
}
